In [1]:
# Import packages/libs
import pandas as pd
import numpy as np

In [2]:
# Read in food access data
food_df = pd.read_csv('FoodAccessResearchAtlasData2019.csv')

# Filter out census tracts with no data or non numeric data
for key in food_df.keys():
    food_df[key].fillna(0, inplace=True)
    food_df = food_df[food_df[key].notna()]
    food_df[food_df[key].apply(lambda x: str(x).isnumeric())]
    
# Convert all values to floats
keys = ['poverty_count', 'la_kids_count', 'la_novehicle_count', 'la_snap_count']
for key in keys:
    food_df[key] = food_df[key].apply(float)

# Display first 5 rows
food_df.head()

,state,county,name,area_name,population,poverty_count,la_kids_count,la_novehicle_count,la_snap_count
0,AL,Autauga,"Autauga, AL",Autauga County,1912,216.06,507.0,5.0,92.0
1,AL,Autauga,"Autauga, AL",Autauga County,2170,388.43,606.0,93.0,161.0
2,AL,Autauga,"Autauga, AL",Autauga County,3373,505.95,771.0,39.0,139.0
3,AL,Autauga,"Autauga, AL",Autauga County,4386,122.81,847.0,19.0,84.0
4,AL,Autauga,"Autauga, AL",Autauga County,10766,1636.43,2309.0,164.0,235.0

In [3]:
# Group census tracts by county and sum up data
food_df_2 = food_df.groupby(['area_name', 'state'], as_index=False).agg({
    'population':sum,
    'poverty_count':sum,
    'la_kids_count':sum,
    'la_novehicle_count':sum,
    'la_snap_count':sum
})

# Calculate population-based percentages)
food_df_2['poverty_%'] = (food_df_2['poverty_count'] / food_df_2['population'] * 100).round(decimals=2)
food_df_2['la_kids_%'] = (food_df_2['la_kids_count'] / food_df_2['population'] * 100).round(decimals=2)
food_df_2['la_novehicle_%'] = (food_df_2['la_novehicle_count'] / food_df_2['population'] * 100).round(decimals=2)
food_df_2['la_snap_%'] = (food_df_2['la_snap_count'] / food_df_2['population'] * 100).round(decimals=2)

# Delete count data (not needed anymore)
for key in ['poverty_count', 'la_kids_count', 'la_novehicle_count', 'la_snap_count']:
    del food_df_2[key]

# Display first 5 rows
food_df_2.head()

,area_name,state,population,poverty_%,la_kids_%,la_novehicle_%,la_snap_%
0,Abbeville County,SC,25417,22.33,20.70,3.59,7.37
1,Acadia Parish,LA,61773,24.33,19.44,1.62,4.35
2,Accomack County,VA,33164,19.81,19.55,4.21,5.59
3,Ada County,ID,392365,11.36,20.43,0.83,1.87
4,Adair County,IA,7682,9.22,15.84,1.21,3.71

In [4]:
# Read in county fips
fips_df = pd.read_csv('fips.csv')
fips_df = fips_df[fips_df['state'].notna()]

# Display first 5 rows
fips_df.head()

   fips            name state
2  1001  Autauga County    AL
3  1003  Baldwin County    AL
4  1005  Barbour County    AL
5  1007     Bibb County    AL
6  1009   Blount County    AL

In [5]:
# Merge fips ids with food insecurity data
food_df_2.rename(columns={'area_name':'name'}, inplace=True)
df2 = pd.merge(food_df_2, fips_df, on=['state','name'])

# Display first 5 rows
df2.head()

,name,state,population,poverty_%,la_kids_%,la_novehicle_%,la_snap_%,fips
0,Abbeville County,SC,25417,22.33,20.70,3.59,7.37,45001
1,Acadia Parish,LA,61773,24.33,19.44,1.62,4.35,22001
2,Accomack County,VA,33164,19.81,19.55,4.21,5.59,51001
3,Ada County,ID,392365,11.36,20.43,0.83,1.87,16001
4,Adair County,IA,7682,9.22,15.84,1.21,3.71,19001

In [6]:
# Export total statistics
df2.to_json("food_insecurity_counties.json", orient="records")